USE [master]
GO
/****** Object:  Database [SushiRestaurant]    Script Date: 7/20/2019 12:21:04 AM ******/
CREATE DATABASE [SushiRestaurant]
GO
USE [SushiRestaurant]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 7/20/2019 12:21:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](300) NULL,
	[img] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[preContent] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/20/2019 12:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[opening] [nvarchar](500) NULL,
	[contact] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 7/20/2019 12:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] NULL,
	[price] [float] NULL,
	[name] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [opening], [contact]) VALUES (1, N'Monday Closed', N'The Sushi Restaurant')
INSERT [dbo].[Contact] ([id], [opening], [contact]) VALUES (2, N'Tuesday 12 - 22', N'New York, NY, USA')
INSERT [dbo].[Contact] ([id], [opening], [contact]) VALUES (3, N'Wednesday 12 - 22', N'')
SET IDENTITY_INSERT [dbo].[Contact] OFF
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (1, 12.5, N'cupidatat non proident, sunt in culpa qui', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (2, 13, N'cupidatat non proident, sunt in culpa qui', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (3, 13.12, N'cupidatat non proident, sunt in culpa qui', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')
/****** Object:  StoredProcedure [dbo].[getAllArticles]    Script Date: 7/20/2019 12:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllArticles]
	@from int,
	@to int
AS
BEGIN
    select * from
	(select *,ROW_NUMBER() over(order by id) as 'rows' from  Article a) pre
	where pre.rows>=@from and pre.rows<=@to
END
GO
/****** Object:  StoredProcedure [dbo].[getAllMenu]    Script Date: 7/20/2019 12:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllMenu]
	@from int,
	@to int
AS
BEGIN
    select * from
	(select *,ROW_NUMBER() over(order by id) as 'rows' from  Menu a) pre
	where pre.rows>=@from and pre.rows<=@to
END
GO
USE [master]
GO
